# Direcciones que SÍ deben ser ignoradas
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Secretos y configuración local (MUY IMPORTANTE)
appsettings.Development.json
appsettings.Local.json
appsettings.json
.env